
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../assets/fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url(../assets/fonts/Roboto-Regular.ttf) format('truetype');
}

#root {
  width: 100vw;
  height:100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 41, 62);
  font-family: 'Roboto-Regular';
}

.contenedor-principal {  
  margin: 0;
  padding: 1em;
  display: flex;
  width: 45em;
  height: 30em;
  border-radius: 2em;
  background-color: rgb(255,255,255);
  
}

.contenedor-texto {
  width: 50%;
  padding-left: 1em;
}


.input-email {
  padding-left:1em ;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.contenedor-imagen {
  width: 50%;
  background-image: url('../assets/images/illustration-sign-up-desktop.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



.title {
  font-family: 'Roboto-Bold';
  line-height: 1em;
  font-size: 1.7em;
  text-align: left;
  padding-left: 0.2em;
}

.btn-susc {
  width: 25em;
  margin-top: 1em;
  font-family: 'Roboto-Regular';
  font-size: 0.8em;
  height: 3em;
  background-color: rgb(43, 41, 62);
  color: rgb(255,255,255);
  border: none;

}

.join {
  width: 80%;
  padding: 0em 1em;
  text-align: left;
  font-size: 0.9em;
}

.label-valid {
  
  font-family: 'Roboto-Bold';
  text-align: left;
  font-size: 0.7em;
  font-weight: 800;
  width: 28em;
  display: flex;
  justify-content: space-between;
}

input {
  width: 20em;
  padding: 0em 1em;
  margin: 0.5em 0em;
  height: 3em;
  border-radius: 0.5em;
  font-size: 0.9em;
  font-weight: 900;
  font-family: 'Roboto-Regular';
  border: 1px solid rgb(186, 185, 192);
  outline: none;
}

ul {
  align-items: center;
  list-style-type: none;
}
ul li {
  
  list-style-image: url('../assets/images/icon-list.svg');
  
}
.lista {
  text-align: left;
  font-size: 0.9em;
}

.alert {
  color: rgb(237, 83, 7);
  
}
.input-alert {
  border: 1px solid rgb(237, 83, 7);
  background-color: rgb(239, 205, 188);
}

.btn-susc:hover {
  transition: 1s;
  background: linear-gradient(to right,rgb(255, 0, 93) , rgb(225, 88, 8)  );
  background-color: rgb(225, 88, 8);
  box-shadow: 5px 5px 8px rgba(227, 76, 6, 0.4);
}

/* Estilos para pantallas más pequeñas, como dispositivos móviles */
@media (max-width: 767px) {
  .contenedor-principal {
    padding: 0;
  
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    
  }
  .contenedor-texto {
    padding-left: 5em;
    justify-content: center;
    width: 100%;
  }
  
  .contenedor-imagen {
  height: 40%;
  width: 100%;
  background-size: 100%;
  margin:0;
  }


  /* Otros estilos específicos para dispositivos móviles */
}